* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #fff;
}

h1 {
    text-align: center;
    font-size: 59px;
}

#perfil {
    padding-top: 18px;
    width: 520px;
    margin-left: 25em;
}

#dead {
    top: 12em;
    margin-top: 19px;
    position: absolute;
    border: 2px solid black;
    padding-top: 9em;
    width: 83em;
    margin-left: 12px;
    height: 25em;
    border-radius: 12px;
}

#dead h2 {
    bottom: 130px;
    font-size: 26px;
    margin-left: 12px;
    position: relative;
}

#dead img {
    bottom: 23em;
    width: 530px;
    margin-left: 12px;
    position: relative;
    border-radius: 4px;
}

#dead p {
    width: 450px;
    margin-left: 30em;
    bottom: 5em;
    position: relative;
    font-size: 20px;
}

.linha1 {
    border: 2px solid rgb(5, 5, 4);
}

#dead button {
    color: #fff;
    background: blue;
    margin-left: 82em;
    bottom: 39em;
    border-radius: 9px;
    width: 130px;
    height: 30px;
    cursor: pointer;
    position: relative;
}

#log {
    margin-top: 10px;
    position: absolute;
    margin-left: 12px;
    display: flex;
    font-size: 30px;
}

#log2 {
    width: 530px;
    bottom: 16em;
    margin-left: 12px;
    border-radius: 4px;
    position: relative;
}


.Long {
    border: 2px solid rgb(0, 0, 0);
    margin-top: 27em;
    margin-left: 12px;
    margin-right: 12px;
    height: 29em;
    position: relative;
    width: 83em;
    border-radius: 12px;
    top: 8em;
}

.Long p {
    width: 450px;
    margin-left: 30em;
    padding-top: 5em;
    position: relative;
    font-size: 20px;


}

.Long .net {
    background: rgb(0, 0, 0);
    color: red;
    bottom: 36em;
    margin-left: 43em;
    border-radius: 9px;
    width: 130px;
    height: 30px;
    border-radius: 9px;
    cursor: pointer;
    position: relative;
}

.Long .star {
    background: rgb(14, 14, 48);
    color: #fff;
    bottom: 33em;
    margin-left: 84em;
    border-radius: 9px;
    width: 130px;
    height: 30px;
    border-radius: 9px;
    cursor: pointer;
    position: relative;
}

.moke {
    margin-top: 12px;
    border: 2px solid black;
    margin-left: 12px;
    height: 27em;
    margin-right: 12px;
    border-radius: 12px;
    width: 83em;
    top: 8em;
    position: relative;

}

.guns {
    font-size: 30px;
    padding-top: 9px;
    margin-left: 12px;
}

.moke p {
    width: 540px;
    margin-left: 30em;
    margin-top: 2em;
    position: relative;
    font-size: 20px;
}

#log3 {
    margin-left: 12px;
    border-radius: 4px;
    bottom: 16em;
    position: relative;
    width: 530px;
    padding-top: 12px;
    border-radius: 9px;
}

.moke .paramo {
    color: #fff;
    background: blue;
    margin-left: 43em;
    bottom: 7em;
    position: relative;
    border-radius: 9px;
    width: 130px;
    height: 30px;
    border-radius: 9px;
    cursor: pointer;
}

.suss {
    margin-top: 12px;
    border: 2px solid black;
    margin-left: 12px;
    height: 36em;
    margin-right: 12px;
    border-radius: 12px;
    width: 83em;

}

.cion {
    margin-left: 12px;
    padding-top: 4px;
    font-size: 30px;
}

.suss p {
    width: 500px;
    margin-left: 29em;
    margin-top: 3em;
    font-size: 20px;
}

.suss #hbo {
    width: 530px;
    margin-left: 12px;
    position: relative;
    bottom: 19em;
    border-radius: 9px;
}

.suss .max {
    color: #fff;
    background: #4B0082;
    margin-left: 85em;
    bottom: 39em;
    position: relative;
    border-radius: 9px;
    width: 130px;
    height: 30px;
    border-radius: 9px;
    cursor: pointer;
}

.end {
    margin-top: 12px;
    border: 2px solid black;
    margin-left: 12px;
    height: 27em;
    margin-right: 12px;
    border-radius: 12px;
    width: 83em;
}

.end .end2 {
    margin-left: 12px;
    padding-top: 12px;
    font-size: 30px;
}

.end .endtw {
    width: 530px;
    border-radius: 9px;
    margin-left: 12px;
    position: relative;
    bottom: 16em;
}

.end p {
    width: 570px;
    font-size: 20px;
    margin-left: 29em;
    position: relative;
    margin-top: 50px;
}

.end .endth {
    color: #fff;
    background: blue;
    margin-left: 47em;
    bottom: 29em;
    position: relative;
    border-radius: 9px;
    width: 130px;
    height: 30px;
    border-radius: 9px;
    cursor: pointer;
}

.west {
    margin-top: 12px;
    border: 2px solid black;
    margin-left: 12px;
    height: 39em;
    margin-right: 12px;
    border-radius: 12px;
    width: 83em;
}

.west .westwood {
    margin-left: 12px;
    padding-top: 12px;
    font-size: 30px;
}

.west .fotowest {
    padding-top: 12px;
    width: 300px;
    margin-left: 12px;
    position: relative;
    bottom: 17em;
}

.west p {
    position: relative;
    width: 670px;
    margin-left: 21em;
    font-size: 20px;
    padding-top: 6em;
}

.west .wodl {
    color: #fff;
    background: #4B0082;
    margin-left: 85em;
    bottom: 39em;
    position: relative;
    width: 130px;
    height: 30px;
    border-radius: 9px;
    cursor: pointer;
}

.oz {
    margin-top: 12px;
    border: 2px solid black;
    margin-left: 12px;
    height: 39em;
    margin-right: 12px;
    border-radius: 12px;
    width: 83em;
}

.oz .ozak {
    font-size: 30px;
    margin-left: 12px;
    padding-top: 12px;
}

.oz p {
    font-size: 20px;
    margin-left: 26em;
    width: 590px;
    padding-top: 70px;
    position: relative;
}

.oz img {
    width: 330px;
    bottom: 17em;
    margin-left: 12px;
    position: relative;

}

.oz .flix {
    background: rgb(0, 0, 0);
    color: red;
    bottom: 42em;
    margin-left: 60em;
    border-radius: 9px;
    width: 130px;
    height: 30px;
    border-radius: 9px;
    cursor: pointer;
    position: relative;
}

.mc {
    margin-top: 12px;
    border: 2px solid black;
    margin-left: 12px;
    height: 35em;
    margin-right: 12px;
    border-radius: 12px;
    width: 83em;
}

.mc .hat {
    font-size: 30px;
    margin-left: 12px;
    padding-top: 4px;
}

.mc p {
    padding-top: 9em;
    position: relative;
    font-size: 20px;
    width: 550px;
    margin-left: 29em;
    bottom: 6em;
}

.mc img {
    width: 530px;
    margin-left: 12px;
    position: relative;
    bottom: 23em;
}

.mc button {
    background: black;
    color: red;
    width: 130px;
    height: 30px;
    border-radius: 9px;
    cursor: pointer;
    bottom: 39em;
    margin-left: 88em;
    position: relative;
}

.mc button strong {
    color: #fff;
}

.falls {
    margin-top: 12px;
    border: 2px solid black;
    margin-left: 12px;
    height: 27em;
    margin-right: 12px;
    border-radius: 12px;
    width: 83em;
}

.falls .rut {
    font-size: 30px;
    padding-top: 12px;
    margin-left: 12px;
}

.falls img {
    width: 530px;
    margin-left: 12px;
    padding-top: 12px;
    position: relative;
    bottom: 14em;
}

.falls p {
    position: relative;
    font-size: 20px;
    margin-left: 29em;
    width: 530px;
    margin-top: 31px;
}

.falls button {
    background: black;
    color: #ffd;
    width: 130px;
    height: 30px;
    border-radius: 9px;
    cursor: pointer;
    bottom: 30em;
    margin-left: 88em;
    position: relative;
}

.nome {
    margin-top: 12px;
    border: 2px solid black;
    margin-left: 12px;
    height: 35em;
    margin-right: 12px;
    border-radius: 12px;
    width: 83em;
}

.nome .ceu {
    margin-left: 12px;
    padding-top: 12px;
    font-size: 30px;
}

.nome img {
    width: 540px;
    margin-left: 12px;
    padding-top: 12px;
    position: relative;
    bottom: 18em;
}

.nome p {
    font-size: 20px;
    width: 540px;
    margin-left: 29em;
    position: relative;
    margin-top: 4em;
}

.nome button {
    background: rgb(14, 14, 48);
    color: #fff;
    bottom: 33em;
    margin-left: 86em;
    border-radius: 9px;
    width: 130px;
    height: 30px;
    border-radius: 9px;
    cursor: pointer;
    position: relative;
}

footer {
    position: relative;
    margin-left: 26em;
    font-size: 20px;
}

@media (max-width: 600px) {
    h1 {
        width: 1000px;
        text-align: center;
        padding-left: 5em;
    }

    footer {
        width: 900px;
    }

    #dead {
        height: 103em;
        width: 50em;
        top: 21em;
        position: relative;
    }

    #dead p {
        width: 780px;
        right: 29.7em;
        font-size: 47px;
        top: 8em;
    }

    #dead img {
        bottom: 65em;
        width: 779px;        
left: 1px;        
    }

    #dead button {
        right: 77em;
        top: 4em;
        font-size: 37px;
        width: 240px;
        height: 50px;
    }

    #dead h2 {
        text-align: center;
        font-size: 37px;
    }

    .Long {
        height: 103em;
        width: 50em;
        left: 51em;
        bottom: 338em;
        position: absolute;
    }

    .Long #log {
        left: 1em;
        font-size: 39px;
    }

    .Long p {
        right: 29.8em;
        font-size: 47px;
        width: 780px;
        top: 6em;
    }

    .Long #log2 {
        position: absolute;
        width: 679px;        
        bottom: 73em;
        right: 69px;
    }

    .Long .net {
        right: 38em;
        top: 10em;
        font-size: 37px;
        width: 240px;
        height: 50px;
    }

    .Long .star {
        right: 72em;
        top: 9em;
        font-size: 37px;
        width: 240px;
        height: 50px;
    }

    .moke {
        bottom: 25em;
        height: 113em;
        width: 50em;
        left: 1px;
        position: relative;
        top: 21em;
    }

    .moke .guns {
        font-size: 37px;
        position: relative;
        text-align: center;
    }

    .moke #log3 {
         left: 1px;
        bottom: 82em;
        width: 779px;
        position: absolute;
    }

    .moke p {
        font-size: 47px;
        width: 780px;
        position: relative;
        right: 29.8em;
        top: 8em;
    }

    .moke .paramo {
        font-size: 37px;
        width: 240px;
        height: 50px;
        right: 37em;
        top: 1em;
    }
    .suss {
        bottom: 93em;
        height: 114em;
        width: 50em;
        left: 51em;
        position: relative;
    }

    .suss .cion {
        text-align: center;
        font-size: 37px;
    }

    .suss p{
        font-size: 47px;
        width: 780px;
        position: relative;
        right: 28.8em;
        top: 8em;
        position: relative;
    }
    .suss #hbo{
        left: 3em;
        bottom: 82em;
        width: 579px;
        position: absolute;
    }
    .suss .max{
        font-size: 37px;
        width: 240px;
        height: 50px;
        right: 79em;
        top: 11em;
        position: relative;
    }
}
